{% include bootstrap-header.html %}

<div class="container">

<div class="row">

    <div class="col-sm-12 col-lg-8">
        <!--<hr/>-->
        {{ content }}
    </div>

    <div class="col-sm-12 col-lg-4 right-nav">

        <div class="index-title">index</div>
        <ol class="index">
            <li><a href="ecmascript6-react-setup.html">Project Setup</a></li>
            <li><a href="ecmascript6-react-es6features.html">Using ES6 Features</a></li>
            <li><a href="ecmascript6-react-modules.html">Header Module</a></li>
            <li><a href="ecmascript6-react-modules-more.html">Mortgage Calculator Module</a></li>
        </ol>


        <a href="https://twitter.com/share" class="twitter twitter-share-button" data-size="large" data-url="http://ccoenraets.github.io/es6-tutorial" data-text="ECMAScript 6 Tutorial with #Babel6 and #Webpack #ES2015 #ES6 #JavaScript">Tweet</a>

        <a class="twitter twitter-follow-button"
           href="https://twitter.com/ccoenraets"
           data-size="large">
            Follow @ccoenraets</a>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


    </div>

</div>


</div>

{% include bootstrap-footer.html %}